{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Error</title>
    <link rel="stylesheet" href="{% static 'app_name/css/error.css' %}">
</head>
<body>
    <main>
        <label class="hidden" style="--delay: 6.4s">ERROR</label>
        <h1 class="hidden" style="--delay: 1s"><span style="--delay: 0.5s">4</span><span style="--delay: 1s">0</span><span style="--delay: 1.5s">4</span></h1>
        <h2 class="hidden" style="--delay: 4s">Page Not Found</h2>
        <p class="hidden" style="--delay: 6.2s">The page may have been removed, renamed or is temporarily unavailable. Please try again later</p>
    </main>
</body>
</html>