{% extends 'users/modals/base.html' %}
{% load custom_filters %}
{% load static %}


{% block body %}
    <p id="{{ step|replace:'_|-' }}-instructions" class="text-sm text-gray-300 text-center mb-3">
        Enter the one-time password<br>(OTP) sent to your email account:<br>
        <strong class="email text-purple-400 font-medium tracking-wide inline-block my-2 px-3 py-1 bg-white/5 rounded-lg border border-white/10">
            {% if email %}{{ email }}{% else %}{{ request.user.email }}{% endif %}
        </strong>
    </p>
    {% if submit == 'Login' %}
        {% include 'users/modals/components/mfa_return.html' %}
    {% endif %}
    {% url 'request_otp' 'email' as url_request_otp %}
    {% include 'users/modals/components/resend_otp.html' with post_url=url_request_otp image_name='mail_to_laptop.png' image_path='users/img/mail_to_laptop.png' %}
{% endblock %}


{% if submit == 'Login' %}
    {% block form %}
        {% include 'users/modals/mfa/data/session_copy.html' %}
    {% endblock %}
{% endif %}


{% block input %}
    {% include 'users/modals/components/main_input.html' with name='otp_code' label='OTP' aria_label='one-time-password' %}
{% endblock %}