{% extends 'users/modals/base.html' %}
{% load custom_filters %}

{% block body %}
    <p id="{{ step|replace:'_|-' }}-instructions">
    {% if title == 'Delete My Account' %}

        Enter your password to
        <span class="fw-bold text-danger">permanently remove your account</span>
        <strong>{{ request.user.username }}</strong>

        after the period of <span class="interval badge bg-danger">30 days</span>

    {% else %}

        Enter your password to
        {% if submit == 'Disable' %}deactivate{% else %}configure{% endif %}
        <strong>Multi-Factor Authentication</strong>

    {% endif %}
    </p>
{% endblock %}

{% block input %}
    {% include 'users/modals/components/main_input.html' with name='password' label='Password' aria_label='users-password' %}
{% endblock %}