{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="{% if locale %}{{ locale }}{% else %}en{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    <script name="htmx.js" src="{% static 'app_name/js/lib/htmx.min.js' %}" defer></script>
    <script name="htmx-websockets.js" src="{% static 'app_name/js/lib/htmx_websockets.js' %}" defer></script>
    <script name="hyperscript.js" src="{% static 'app_name/js/lib/hyperscript.min.js' %}" defer></script>
    <script name="utilities.js" src="{% static 'app_name/js/utilities.js' %}" defer></script>
    <script name="cookies.js" src="{% static 'app_name/js/cookies.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
        <div class="container-fluid container">

            <!-- Brand -->
            <a class="navbar-brand" href="{% url 'index' %}">
                Home ⾕
            </a>

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarNav">

                <!-- Left side -->
                <ul class="navbar-nav me-auto">

                    <!-- Documents dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Documents
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'document' 'privacy_policy' %}">Privacy policy</a></li>
                            <li><a class="dropdown-item" href="{% url 'document' 'terms_and_conditions' %}">Terms and conditions</a></li>
                        </ul>
                    </li>

                    <!-- Donate -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'donate' %}">Donate</a>
                    </li>

                    <!-- Buy Plan -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'buy_plan' %}">Buy Plan</a>
                    </li>

                    <!-- Public chat -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'chatroom' 'public' %}">Chat</a>
                    </li>

                </ul>

                <!-- Right side -->
                <div class="d-flex">

                    <!-- Profile -->
                    <a href="{% if request.user.is_authenticated %}{% url 'profile' request.user.id %}{% else %}{% url 'login' %}{% endif %}">
                        <button type="button" class="btn btn-dark">Profile</button>
                    </a>

                    <!-- Logout -->
                    {% if request.user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="POST" class="ms-2">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">Logout</button>
                    </form>
                    {% endif %}

                </div>

            </div>
        </div>
    </nav>

    {% if messages %}{% bootstrap_messages %}{% endif %}
    <main class="container p-5">{% block content %}{% endblock %}</main>
    {% bootstrap_javascript %}
    {% block base %}{% endblock %}
</body>
</html>