{% extends 'users/modals/base.html' %}
{% load custom_filters %}
{% load static %}


{% block body %}
    <p id="{{ step|replace:'_|-' }}-instructions">
        Enter the one-time password (OTP) sent to your email: <br>
        <strong>{% if email %}{{ email }}{% else %}{{ request.user.email }}{% endif %}</strong>
    </p>
    {% if submit == 'Login' %}
        <hr>
        {% include 'users/modals/components/mfa_return.html' %}
    {% endif %}
    <hr>
    {% url 'request_otp' 'email' as url_request_otp %}
    {% include 'users/modals/components/resend_otp.html' with post_url=url_request_otp image_name='mail_to_laptop.png' image_path='users/img/mail_to_laptop.png' %}
{% endblock %}


{% if submit == 'Login' %}
    {% block form %}
        {% include 'users/modals/mfa/data/session_copy.html' %}
    {% endblock %}
{% endif %}


{% block input %}
    {% include 'users/modals/components/main_input.html' with name='otp_code' label='OTP' aria_label='one-time-password' %}
{% endblock %}