{% extends 'app_name/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{% if registry %}Register{% else %}Login{% endif %} Page
{% endblock %}



{% block content %}


{% if not registry %}
<section id="modals"></section>
{% endif %}

{% if user.is_authenticated and not registry %}
<div class="p-3 mb-5 bg-light rounded">
    <p>You are already logged-in as: <strong>{{ user }}</strong>
    <br>would you like to sign-in to another account?</p>
</div>
{% endif %}

<form method="POST" enctype="multipart/form-data"
  hx-post="{% url 'login' %}{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}"
  hx-trigger="click throttle:1s"
  hx-swap="none">
    {% csrf_token %}
    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}
    {{ register_view_forms.profile|crispy }}
    {{ register_view_forms.user|crispy }}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">
        <span>{% if registry %}Register{% else %}Login{% endif %}</span>
    </button>
</form>

{% if user.is_authenticated and not registry %}
<p class="float-end">Would you like a new account? <a href="{% url 'register' %}">register now</a></p>
{% elif not registry %}
<p class="float-end">Don’t have an account? <a href="{% url 'register' %}">register now</a></p>
{% else %}
<p class="float-end">Already have an account? <a href="{% url 'login' %}">login now</a></p>
{% endif %}


{% endblock %}



{% block base %}
<script name="modal" src="{% static 'users/js/includes/modal.js' %}"></script>
{% endblock %}