{% extends 'app_name/base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="mx-auto" style="max-width: 750px">
    <section class="bg-light p-3 mb-3">
        <h1 class="fs-3">Request sent</h1>
        <p>An email with instructions to reset your password has been sent to the email address you entered.</p>
    </section>
    <section class="d-flex justify-content-between">
        <a href="{% url 'password_reset' %}">
            <button type="submit" class="btn btn-warning">
                <span>Resend request</span>
            </button>
        </a>
        <a href="{% url 'index' %}">
            <button type="submit" class="btn btn-primary">
                <span>Continue</span>
            </button>
        </a>
    </section>
</div>

{% endblock %}