{% extends 'app_name/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Profile Page{% endblock %}
{% block content %}

<section id="modals"></section>

<div class="container">
    <div class="row">
        <aside class="col-md-4">
            <div class="p-3 bg-secondary text-white">
                <img width="100%" src="{{ profile_user.profile.image.url }}">
            </div>
            {% if profile_user != request.user %}
                <a class="btn btn-secondary rounded-0 border-top w-100 mb-3"
                   href="{% url 'chat-with' profile_user.username %}">
                    <span>Direct Message</span>
                </a>
            {% else %}
                {% include 'chat/includes/my_chats.html' with button_class="btn-secondary border-top rounded-0 w-100" ul_class="w-100" %}
            {% endif %}
        </aside>
        <main class="col-md-8">
            <div class="p-3 bg-light">
                {% if user.id == profile_user.id %}

                    <form action="{% url 'profile' profile_user.id %}" enctype="multipart/form-data" method="POST">
                        {% csrf_token %} 
                        {{ forms.profile|crispy }}
                        {{ forms.account|crispy }}
                        <hr>
                        <div class="form-check form-switch mb-3">
                            <input class="form-check-input" type="checkbox" id="mfa-flex-switch" name="switch"
                              {% if user.account.mfa_enabled %}checked{% endif %}
                              hx-post="{% url 'enable_mfa' %}"
                              hx-trigger="click throttle:1s"
                              hx-swap="none">
                            <label class="form-check-label" for="mfa-flex-switch" title="Multi Factor Authentication">Enable MFA</label>
                        </div>
                        <hr>
                        {{ forms.user|crispy }}
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <button class="btn btn-warning" type="submit">Update Profile</button>
                            </div>
                            <div class="col-auto">
                                <a href="{% url 'password_reset' %}" class="btn btn-link">change password</a>
                            </div>
                        </div>
                    </form>

                {% else %}

                    {% for field in forms.user %}
                        {% if field.label|lower != "confirm password" %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            <p class="bg-white p-3" id="{{ field.id_for_label }}">{{ field.value }}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                    
                    {% for field in forms.profile %}
                        {% if field.label|lower != "image" %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            <p class="bg-white p-3" id="{{ field.id_for_label }}">{{ field.value }}</p>
                        </div>
                        {% endif %}
                    {% endfor %}

                {% endif %}
            </div>
        </main>
    </div>
</div>
{% endblock %}


{% block base %}
<script name="functions-for-included-modal" type="text/javascript">

const modals = document.getElementById('modals');

function hideModals() {
    document.querySelectorAll('.modal').forEach(modal => {
        const Modal = bootstrap.Modal.getOrCreateInstance(modal);
              Modal.hide();
    });
}
function setInvalidInput(input) {
    input.classList.add('is-invalid');
    input.classList.add('text-danger');
}
function setNormalInput(input) {
    input.classList.remove('is-invalid');
    input.classList.remove('text-danger');
}
function setLoadingButtonForModal(button) {
    button.querySelector('.spinner-grow').classList.remove('visually-hidden');
    button.querySelector('.button-text').innerText = 'loading...';
}
function setNormalButtonForModal(button) {
    button.querySelector('.spinner-grow').classList.add('visually-hidden');
    button.querySelector('.button-text').innerHTML = button.dataset.name;
}

</script>
<script name="main-script" type="text/javascript">

function throttleElement(element, type='click', delay=500) {
    element.dataset.throttle = false;
    element.addEventListener(type, event => {
        if (element.dataset.throttle == 'true') {
            event.preventDefault(); return;
        }
        element.dataset.throttle = true;
        setTimeout(() => element.dataset.throttle = false, delay);
    });
}



const input_enable_mfa = document.getElementById('mfa-flex-switch');
const onAnyClosedModal = submit => input_enable_mfa.checked = submit == 'Disable';

throttleElement(input_enable_mfa, 'click', parseInt(
    input_enable_mfa.getAttribute('hx-trigger')
    .match(/throttle:(\d+(s|ms))/)[1]
    .replaceAll('ms', '')
    .replaceAll('s', '000')
));



document.addEventListener('htmx:afterRequest', async (event) => {

    let form = event.detail.target.closest('form');
    if (!form?.classList.contains('modal-footer')) return;


    // Receive response from the backend

    let xhr = event.detail.xhr;
        responseText = await xhr.responseText,
        response = '';

    if (xhr.getResponseHeader('Content-Type')?.includes('application/json')) {
        response = JSON.parse(responseText);
    }
    else return;


    // Handle response

    if (response.error) {
        console.error(response.error);
    }
    if (response.success) {
        hideModals();
    }
    else if (response.error === 'Invalid OTP' || 'Invalid password') {
        let input = form.querySelector('input:not([type="hidden"])');
        setInvalidInput(input);
    }


    // Reset modal's submit button

    let button_submit = form.querySelector('.modal-submit-button');
    setNormalButtonForModal(button_submit);

});

</script>
{% endblock %}
