{% extends 'users/modals/base.html' %}
{% load custom_filters %}

{% block body %}
    <p id="{{ step|replace:'_|-' }}-instructions">
    {% if title == 'Delete My Account' %}

        {% comment REQUIREMENTS %}
        
          FROM users/includes/delete_account.html
            - formatCountdownElements()
            - getFutureDate()

        {% endcomment %}
        <p id="{{ step|replace:'_|-' }}-instructions" class="text-gray-300 text-center mb-3">
            Enter your password to
            <br>
            <span class="fw-bold text-danger">permanently remove your account</span>:
            <br>
            <strong class="account text-purple-400 font-medium tracking-wide inline-block my-2 px-3 py-1 bg-white/5 rounded-lg border border-white/10">
                {{ request.user.username }}
            </strong>
            <br>
            After the period of 
            <span style="margin-left: 5px" class="badge interval inline-block px-2.5 py-0.5 bg-gray-500/20 text-gray-300 rounded-full text-xs font-mono border border-gray-500/30">--</span>
        </p>

        <script type="text/javascript">
            (() => {
                const script = document.currentScript;
                const parent = script.parentElement;

                const elements = [parent.querySelector('.interval')];
                const date = getFutureDate({{ DELETE_USER_INTERVAL }});
                      date.setSeconds(date.getSeconds() + 1);

                formatCountdownElements({ elements, date });
                document.currentScript.remove();
            })();
        </script>

    {% else %}
        <p id="{{ step|replace:'_|-' }}-instructions" class="text-lg text-gray-300 text-center">
            Enter your password to
            {% if submit == 'Disable' %}deactivate{% else %}configure{% endif %}
            <br>
            <strong>Multi-Factor Authentication</strong>
        </p>
    {% endif %}
    </p>
{% endblock %}


{% block input %}
    {% include 'users/modals/components/main_input.html' with name='password' label='Password' aria_label='users-password' %}
{% endblock %}