 
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

!.env_template

# Node.js
node_modules/

# Ignore SQLite database files
*.sqlite
*.sqlite3
*.db
*.db3


# Ignore staticfiles
staticfiles/