<form id="mfa-alternative-options"
    action="{% url 'request_mfa' 'none' %}"
    enctype="multipart/form-data"
    method="POST">
    {% include 'users/modals/profile/data/in_circulation.html' %}

    <h5>Alternative options</h5>
    <hr>
    <p>Send OTP via</p>
    <button class="btn btn-outline-primary w-100 mb-1" type="button"
        hx-post="{% url 'request_mfa' 'otp_email' %}"
        hx-trigger="click throttle:1s"
        hx-swap="none">
        <strong>Email</strong>
    </button>
    <button class="btn btn-outline-primary w-100" type="button"
        hx-post="{% url 'request_mfa' 'otp_sms' %}"
        hx-trigger="click throttle:1s"
        hx-swap="none">
        <strong>SMS</strong>
    </button>

</form>
