{% extends 'users/modals/profile/base.html' %}
{% load custom_filters %}
{% load static %}

{% block body %}
    <p id="{{ step|replace:'_|-' }}-instructions">
        Enter the one-time password (OTP) sent to your mobile via text:
        <br>
        <span class="phone-number d-block fs-5">
            <strong>{% if submit == 'Login' %}{{ phone_number }}{% else %}{{ request.user.profile.phone_number }}{% endif %}</strong>
        </span>
        {% if submit == 'Login' %}
            <hr>
            <form id="mfa-alternative-options" class="d-flex justify-content-between align-items-center"
                action="{% url 'request_mfa' 'none' %}"
                enctype="multipart/form-data"
                method="POST">
                
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <input type="hidden" name="masked_email" value="{{ email }}">
                <input type="hidden" name="masked_phone_number" value="{{ phone_number }}">

                <p class="w-50 me-2">Return back to try and login with your authentication app</p>
                <button class="btn btn-outline-primary w-50" type="button"
                    hx-post="{% url 'request_mfa' 'otp_qrcode' %}"
                    hx-trigger="click throttle:1s"
                    hx-swap="none">
                    Authenticate<br>via app
                </button>
            </form>
        {% else %}
            <br>to finalize <strong>Multi-Factor Authentication</strong>
        {% endif %}
    </p>
    <hr>
    <div class="d-flex justify-content-between text-center">
        <button type="button" class="btn btn-light w-50 me-4">
            <span class="spinner-border text-secondary visually-hidden" role="status" aria-hidden="true"></span>
            <span class="button-text">Resend OTP</span>
        </button>
        <p class="count-text text-secondary px-auto m-auto fs-2 w-25">
            <span class="count-down">0</span>
            <br><span class="fs-5">sec</span>
        </p>
        <img style="max-height: 150px" src="{% static 'users/img/mail_to_phone.png' %}" alt="mail_to_phone.png">
        <script type="text/javascript">
            (() => {

                let script = document.currentScript,
                    parent = script.parentElement,

                    counter = parent.querySelector('.count-down'),
                    countTxt = parent.querySelector('.count-text'),
                    button = parent.querySelector('.btn'),

                    buttonTxt = button.querySelector('.button-text'),
                    spinner = button.querySelector('.spinner-border'),

                    timeout = null,
                    fallback = null,
                    interval = null,
                    isIntervalActive = false,
                    count = 0;
                

                function countDown() {
                    counter.innerText = count;
                    if (count > 0) count -= 1;
                    else {
                        clearInterval(interval);
                        button.removeAttribute('disabled');
                        countTxt.classList.add('text-secondary');
                        isIntervalActive = false;
                    }
                }
                

                button.addEventListener('click', () => {
                    if (count > 0) return;
                    // Request new OTP code AND send it to user's mobile phone via sms
                    // https://htmx.org/api/#ajax
                    htmx.ajax('POST', '{% url "request_otp" "sms" %}', {
                        swap: 'none',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                        }
                    });
                    timeout = setTimeout(() => {
                        spinner.classList.remove('visually-hidden');
                        buttonTxt.classList.add('visually-hidden');
                    }, 500);


                    // Set fallback execution after 15 seconds
                    fallback = setTimeout(() => {
                        console.warn('No response received in 15 seconds, executing fallback.');
                        buttonTxt.classList.remove('visually-hidden'); 
                        spinner.classList.add('visually-hidden');
                    }, 15000);
                });


                document.addEventListener('htmx:afterRequest', async (event) => {
                    if (event.detail.pathInfo.requestPath !== '{% url "request_otp" "sms" %}') return;

                    // Receive response from the backend

                    let xhr = event.detail.xhr;
                        responseText = await xhr.responseText,
                        response = '';

                    if (xhr.getResponseHeader('Content-Type')?.includes('application/json')) {
                        response = JSON.parse(responseText);
                    }
                    else return;

                    // Cancel the timeout & fallback execution if response is received
                    clearTimeout(timeout);
                    clearTimeout(fallback);

                    // Handle response

                    if (response.success === 'OTP Sent')
                    {
                        if (isIntervalActive) return;
                        count = 45;

                        button.setAttribute('disabled', '');
                        countTxt.classList.remove('text-secondary');

                        isIntervalActive = true;
                        if (interval) clearInterval(interval);
                        interval = setInterval(countDown, 1000);
                        
                        buttonTxt.classList.remove('visually-hidden'); 
                        spinner.classList.add('visually-hidden');
                    }
                    else if (response.error) {
                        console.error(response.error);
                    }

                });

                script.remove();

            })();
        </script>
    </div>
{% endblock %}

{% if submit == 'Login' %}
    {% block form %}
        <input type="hidden" name="user_id" value="{{ user_id }}">
    {% endblock %}
{% endif %}

{% block input %}
    <span class="input-group-text">OTP</span>
    <input name="otp_code" type="text" class="form-control" aria-label="one-time-password" aria-describedby="{{ step|replace:'_|-' }}-instructions" required
        hx-post="{{ post_url }}"
        hx-trigger="input changed delay:250ms"
        hx-swap="none">
{% endblock %}